PORT=3000

# Local MongoDB (Source)
MONGODB_URI_LOCAL=mongodb://127.0.0.1:27017

# MongoDB Atlas (Destination)
MONGODB_URI_ATLAS=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/shopweb?retryWrites=true&w=majority

# Active connection (change to MONGODB_URI_ATLAS when ready)
MONGODB_URI=mongodb://127.0.0.1:27017
